---
import {
  getDataAttributes,
  getImageUrlFromFormat,
} from "../../lib/strapi-utils";
import StrapiImage from "../lib/strapi/strapi-image.astro";

interface Props {
  section: any;
}
const { section } = Astro.props;
const imageData = getDataAttributes<any>(section.cover);
---

<script>
  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          entry.target.classList.add("animated");
        }
      });
    },
    {
      threshold: 0.4,
    }
  );

  const listHomeSectionItems = document.querySelectorAll(".home-section-item");
  listHomeSectionItems.forEach((item) => {
    observer.observe(item);
  });
</script>

<article class="home-section-item p-8 md:p-20">
  <div
    class="home-section-item__media relative
    translate-y-6 opacity-0 transition-all duration-[750ms] ease-[ease]
    after:w-full after:absolute after:top-0 after:right-0 after:h-full after:transition-all after:duration-[750ms] after:ease-[cubic-bezier(0.33, 0.32, 0.27, 1)] after:bg-slate-100 dark:after:bg-slate-900
    group aspect-square overflow-hidden rounded-sm"
  >
    <a class="" href={`sections/${section.url}`}>
      <StrapiImage
        image={getDataAttributes(imageData.image)}
        description={section.cover.description}
        format="medium"
        classNames="home-section-item__media__img w-full h-full object-cover group-hover:scale-[1.06] duration-700 ease-[ease] transition-all"
        hasPlaceholder={false}
      />
    </a>
  </div>
  <div
    class="home-section-item__infos translate-y-6 opacity-0 transition-all duration-1000 delay-300 ease-[ease] my-6"
  >
    <h3 class="text-3xl">
      <a class="gr-underline" href={`sections/${section.url}`}>
        {section.title}
      </a>
    </h3>
  </div>
</article>

<style>
  .home-section-item.animated .home-section-item__media {
    @apply translate-y-0 opacity-100;
  }

  .home-section-item.animated .home-section-item__infos {
    @apply translate-y-0 opacity-100;
  }

  .home-section-item.animated .home-section-item__media::after {
    @apply w-0;
  }
</style>
