---
import {
  getDataAttributes,
  getImageUrlFromFormat,
} from "../../lib/strapi-utils";
import StrapiImage from "../lib/strapi/strapi-image.astro";

interface Props {
  section: any;
}
const { section } = Astro.props;
const imageData = getDataAttributes<any>(section.cover);
---

<article class="">
  <div class="group aspect-square overflow-hidden shadow-lg rounded-sm">
    <a href={`sections/${section.url}`}>
      <StrapiImage
        image={getDataAttributes(imageData.image)}
        description={section.cover.description}
        format="medium"
        classNames="w-full h-full object-cover group-hover:scale-[1.06] duration-700 ease-[ease] transition-all"
        hasPlaceholder={false}
      />
    </a>
  </div>
  <div class="my-6">
    <h3 class="text-3xl">
      <a class="bg-gradient-to-r from-slate-700 to-slate-100 bg-[length:0%_1px] hover:bg-[length:100%_1px] bg-left-bottom bg-no-repeat transition-[background-size] duration-300 ease-[ease]" href={`sections/${section.url}`}>
        {section.title}
      </a>
    </h3>
  </div>
</article>
