---
interface Props {
  title: string;
  thumbnail: string;
  description: string;
  seo_title: string;
  seo_description: string;
}

const { title, description, thumbnail, seo_title, seo_description } =
  Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- META twitter -->
    <meta property="twitter:image" content={thumbnail} />
    <meta property="twitter:title" content={seo_title} />
    <meta property="twitter:description" content={seo_description} />

    <meta property="og:image" content={thumbnail} />
    <meta property="og:title" content={seo_title} />
    <meta property="og:description" content={seo_description} />
    <meta property="og:url" content="https://www.margaux-frowein.com" />

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap"
      rel="stylesheet"
    />

    <title>{title}</title>
  </head>
  <body
    class="bg-slate-100 text-slate-700 dark:bg-slate-900 dark:text-slate-100"
  >
    <header class="fixed w-full z-10">
      <nav class="p-4">
        <a class="flex flex-row gap-6" href="/">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75"></path>
          </svg>
          <span>Margaux FROWEIN</span>
        </a>
      </nav>
    </header>
    <main>
      <slot />
    </main>
    <footer></footer>
  </body>
</html>

<style is:global>
  * {
    --swiper-navigation-color: theme(colors.slate.700 / 75%);
    --swiper-pagination-color: theme(colors.slate.50 / 75%);
    --swiper-pagination-bullet-size: 0.8em;
  }

  @media screen(sm) {
    * {
      --swiper-pagination-bullet-size: 8px;
      --swiper-pagination-top-offset: 50%;
      --swiper-pagination-sides-offset: 10px;
    }
  }
  html,
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
</style>
